.coinPageInfoSection {
  font-size: var(--fs-base);
  width: 100%;
}

.lineInfo {
  border-bottom: 1px solid #535353;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0;
  width: 100%;
}

.lineInfoTitle {
  display: flex;
  font-size: var(--fs-md);
  font-weight: bold;
}

.allTimeSection {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.allTimeDate {
  color: var(--light-gray);
  font-size: var(--fs-xs);
  padding-top: 0.3rem;
  text-align: right;
}


@media(min-width: 769px){
    .coinPageInfoSection {
        padding-top: 1.3rem;
    }
}